

body {
    /* overflow: hidden;  */
    -webkit-overflow-scrolling: auto !important;
    line-height: 1.3;
  }

  img {
    max-width: 100%;
    height: auto;
  }

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}

 a{
     color: black;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
}

u{
    font-family: Arial, Helvetica, sans-serif;
}

/* a:focus{
    color: lightgrey;
} */

button:hover{
    cursor: pointer;
}

.maincontainer{
    display: grid;
    grid-template-columns: 93% 7%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: auto;
    padding: 0px 0px 0px 25px;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

@media (max-width: 800px) {
    .maincontainer{
       display: block;
       padding-right: 25px;
    }
}



.logocontainer{

    display: flex;
    flex-direction: row;
    position: absolute;
    top: 15px;
    left: 0px;
    height: 5vh;
    width: 90vw;
    z-index: 10;
    padding-left: 25px;
}


@media (max-width: 800px) {
    .logocontainer{
        flex-direction: column;
    }
}


.cordovalogo{
    display: absolute;
    position: sticky;
    height: 100%;
    min-height: 50px;
    max-width: 35vw;
    min-width: 200px;
    padding-right: 5vw;
    width: 200px;
}

.contentcontainer{
    display: flex;
    flex-wrap: wrap;
}

.menucontainer{
    height: 100vh;

    flex: 30%;
    max-width: 30%;
    overflow-x: hidden;
    overflow-y: visible;
}



.menucontainer p{
    width: 95%;
}

@media (max-width: 800px) {
    .menucontainer{
        overflow:visible;
    }
}

.archivecontainer {
    width: 95%;
    top: 0px;
    line-height: 1.8;
}

.archivecontainer span{
    line-height: 1.6;
}


.headlines{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    transform: scale(1.1, 1); 
    -webkit-transform: scale(1.1, 1);
    -moz-transform: scale(1.1, 1);
    -o-transform: scale(1.1, 1);
    transform-origin: left;
}

.archivecontainer {
    margin: 0px;
    line-height: 1.2;
    padding: none;
    margin: 0px;
}

.aboutcontainer {
    width: 50%;
}


.current{
    display: none;
}

.archive{
    display: none;
}

.about{
    display: none;
}

.board{
    display: none;
}

.links{
    display: none;
}



.showcontainer{
    display: inline;
    height: 100vh;
    flex: 70%;
    max-width: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

@media (max-width: 800px) {
    .showcontainer{
        height: 50%;
    }
}


.spacer{
    height: 8vh;
    width: 100vw;
}

#languagespacer{
    height: 15vh;
}

@media (max-width: 800px){
    #leftmenuspacer{
        display: none;
    }
}

@media (max-width: 800px) {
    .spacer{
        height: 7vh;   
    }
}

.headingscontainer {
    max-width: 70%;
    padding-bottom: 1vh;
    display: flex;
}

#showspacer{
    height: 12vh;
}


.showmodal{
    height: 100%;
    box-sizing: border-box;
    display: none;
    
}




.showtitle {    
 
    margin: 0px;
    margin-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(2, 1);
    -webkit-transform: scale(1.5, 1);
    -moz-transform: scale(1.5, 1);
    -o-transform: scale(1.5, 1);
    font-size: 15px;
    letter-spacing: -0.5px;
    transform-origin: left;
    max-width: 60%;  
}

 .date{
    margin: 0px;
    margin-left: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    transform-origin: left;
} 


.open{
    display: inline;
}

.descriptionskip{
    float: left;
    margin-left: 0px;
    scroll-behavior: smooth;
}

.descriptionskip button{
    background: none;
    border: none;

}



.showimage{
    display: inline-block;
    width: 100%;
    height: auto;
    min-height: 200px;
    padding: 0px 0px 12.5px 0px;
}

/* .placeholder{
    display: inline;
    width: 100%;
    height: auto;
    min-height: 200px;
    padding: 0px 0px 12.5px 0px;
} */

[data-src]::before {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

.showimage img{
    display: inline-block;
    content-visibility: auto;
    width: 100%;
    height: auto;
}


@media (max-width: 800px) {
    .showimage{
        max-width: 350px;
    }
}


.test{
    display: block;
    background-color: aqua;
}



.showvideo iframe{
    width: 100%;
    height: auto;
}

.showdescription{
    display: none;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
}




@media (max-width: 800px) {
    .menucontainer{
      flex: 100%;
      max-width: 100%;
      order: 2;
        }
    .showcontainer{
      flex: 100%;
      max-width: 100%;
      order: 1;
    }

    .languagebutton{
      flex: 100%;
    }
  }


.sidebarcontainer{
    position: absolute;
    height: 100vh;
    width: 7vw;
    right: 0px;
    
}

@media (max-width: 800px) {
    .sidebarcontainer{
        display: none;
    }
}


.languagecontainer{
    max-width: 7vw;
    top: 45vh;
    height: 10vh;
}

.buttoncontainer{
    width: 100%;
    max-width: 7vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.languagebutton{
   border-radius: 50%;
   width: 50px;
   height: 50px;

   background: none;
   border-style: solid;
   border-color: black;

   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   text-align: center;
}

.smallerlanguagebutton{
   border-radius: 50%;
   width: 50px;
   height: 50px;

   background: none;
   border-style: solid;
   border-color: black;
   text-align: center;

   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    }

.menubutton{
    white-space: nowrap;
    text-align: center;
    padding-bottom: 1vh;
}

.menubutton button{
    background: none;
    border: none;
}

@media (max-width: 800px) {
    .menubutton button{
        position: sticky;
    }
}

.smallerbuttoncontainer{
    width: 13vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.smallerlanguagebutton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   background: none;
   border-style: solid;
   border-color: black;
   border-width: 1px;

}

.mobilespacer{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.mobileaddress{
    font-size: 16px;
    line-height: 1.4;
}

@media (min-width: 800px) {
    .mobilespacer{
        display: none;
    }
}

.mobileaddress a{
    text-decoration: none;
    cursor:pointer
}


.engdiv{
    flex: 100%;
    order: 1;
    display: flex;
    justify-content: center;
}
.espdiv{
    flex: 100%;
    order: 2;
    display: flex;
    justify-content: center;
}
.catdiv{
    flex: 100%;
    order: 3;
    display: flex;
    justify-content: center;
}



@media (max-width: 800px) {
    .engdiv{
        flex: 100%;
        order: 1;
    }
    .espdiv{
        flex: 100%;
        order: 2;
    }
    .catdiv{
        flex: 100%;
        order: 3;
    }
  }

 .businesscardcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
 }

 .businesscardcontainer img{
     max-width: 500px;
     max-height: 300px;
 }
 @media (max-width: 800px){
    .businesscardcontainer{
        align-items: center;
    }

 }


 .businesscard{
     border-style: solid;
     border-radius: 1px;
     border-color: black;
     width: 95%;
     height: 31vh;

     display: flex;
     flex-direction: column;
    justify-content:space-evenly;

 }

 #businesscard2 img{
    height: 100%;
    width: auto;
 }
 #businesscard2{
    background-image: url("./images/sandiabusinesscard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }

 #businesscard2:hover{
    background-image: url("./images/sandiabusinesscardside2.png");
    background-size: contain;
 }
 .businesscard img{
     width: auto;
     height: 4vh;
 }




 .emojiline img{

     width: 95%;
     height: auto;
 }

 .emojiline p{
    text-align: center;
    font-size: small;
 }

 #layer1{
     height: 7vh;
 }
 #layer2{
    height: 7vh;
 }
 #layer3{
     cursor: pointer;

 }

 
 #layer4{
    height: 5vh;
 }
 #layer5{
    height: 2vh;
    cursor: pointer;
 }
 #layer6{
    height: 2vh;
    cursor: pointer;
 }



::-webkit-scrollbar { 
    display: none; 
    }
example {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

.endspacer{
    width: 100%;
    height: 1px;
    display: block;
}

.visible{
    display:inherit;
}

.grey{
    color: lightgrey;
}

.showmenutitle{
    display: inline;
    pointer-events: none;
    font-weight: bold;
    font-style: italic;
}

.showmenuartist{
    display: inline;
    pointer-events: none;
}

span{
    display: inline;
    cursor: pointer;
}

